#stuff{
  text-align: center;
}

.search-bar{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.video-format {
  display: flex;
  flex-direction: row-reverse;
}

.video-item {
  margin-bottom: 2rem;
  padding: 0px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .search-bar input {
    width: 103%;
    margin-left: -1rem;
  }
  .video-detail{
    padding-left: 0px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .search-bar input {
    width: 103%;
  }
  .video-detail{
    padding-left: 0px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .search-bar input {
    width: 33%;
    margin-left: -0.9rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .search-bar input {
    width: 33%;
    margin-left: -0.9rem;
  }
}
